.jogo{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin-left: 25%;
    width: 60%;
    z-index: 1
}

#botao{
    margin: 20%;
    display: flex;
}


.dificuldade{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-self: center;
    width: 20%;
    height: 100%;
    display: none;
    z-index: 2;
}