.container_cards{
    height: 100%;
    width: 100vw;
    background-color: gray;
}


.card{
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 20px;
    min-height: 30%;
}