.container_cards{
    height: 80vh;
    width: 100dvh;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;
    padding: 40px;
}


.card{
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 90%;

    align-self: center;
    justify-self: center;

    text-align: center;
    justify-content: center;
    align-content: center;

}

