@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,600;0,700;1,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-family: 'Titillium Web', sans-serif;
    background-color: #0f0f14;
    background-image: radial-gradient(#20202b 15%, transparent 16%);
    background-size: 18px 18px;
    color: #ffffff;
}

.container_cards {
    height: 75vh; 
    width: fit-content; 
    max-width: 95vw;
    
    background-color: #15151e;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    
    gap: 12px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #282836;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}

.container_superior {
    color: white;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: center;
    gap: 25px;
}

.container_lateral_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 25vw;
    height: auto;
    background-color: #15151e;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #282836;
    border-top: 4px solid #e10600;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}